<td>{{ rank }}</td>
<td>{{ name }}</td>
<td><img class="angry_cat_pic" src="{{ image_path }}" alt=""></td>
<td>
    <div class="rank_up"><img class="rank_up" src="images/up.gif" alt=""></div>
    <div class="rank_down"><img class="rank_down" src="images/down.gif" alt=""></div>
</td>
<td>{{ votes }}</td>
<td><a href="#" class='disqualify'>Disqualify</a></td>
